{% extends 'base.html.twig' %}
{# {% if topevent is null %}
{% set topevent[0]['name'] = 'vide' %}
{% set topevent[0]['rsvp'] = 0 %}
{% endif %} #}


{% block body %}
  {% block section %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Tableau de bord :
        <b>{{ toplangage[0]['city'] }}</b>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('user_accueil') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    <!-- Liste déroulante : choix de semaine -->
      <div class="col-md-6">
        <form>
          <select>
            <option>Semaine 25 - 2016
            <option>Semaine 24 - 2016
            <option>Semaine 23 - 2016
          </select>
        </form>
      </div>
      <div class="col-md-5 but-extr">
        <button type="button" class="btn btn-success">Nouvelle extraction</button>
      </div>
      <div class="">
        <a href="#" onclick="window.print(); return false;"><img src="{{ asset('img/pdf.png') }}"></a>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua group">
            <div class="inner">
              <h3>{{ toplangage[0]['topic'] }} ({{ langagePourcent }}%) <sup style="font-size: 20px"></sup></h3>

              <p>Langage le mieux représenté</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green group">
            <div class="inner">
              <h3>{{ topGroup }}</h3>

              <p>Groupe avec le + de membres</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red group">
            <div class="inner">
              <h3>{{ flopGroup }}</h3>

              <p>Groupe avec le - de membres</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow group">
            <div class="inner">
              <h3>{{ dynagroupe }}</h3>

              <p>Groupe le plus dynamique</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>

          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Insertion diagramme Excel 1 -->
          <div class="nav-tabs-custom">
              <h2 class="text-center">Mots clés les plus utilisés</h2>
              <div id="wordcloud" style="width: 580px; height: 380px; position: relative;"></div>
          </div>
          <!-- Insertion diagramme Excel 2 -->
          <div class="row evol">
            <!-- Franck -->
              <h2 class="text-center">Evolution des meetups par langage</h2>
              <div class="col-lg-12">
                <div class="chart">
                  <!-- Sales Chart Canvas -->
                  <div id="container" class="spark" style="min-width: 310px; height: 400px;"></div>
                </div>
                <!-- /.chart-responsive -->
              </div>

          </div>
          <div class="box box-solid bg-yellow-gradient top">
            <div class="box-body ">
                <h2>Derniers meetup crées</h2>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nom du meetup</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for Group in lastGroup %}
                       <tr>
                        <td>{{ Group.name }}</td>
                        <td>{{ dateGroup }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
          <!-- Insertion diagramme Excel 4 -->
          <div class="box commentaires">
            <h2>Votre interprétation des données</h2>
              <fieldset class="form-group">
                <label for="com_title">Titre du commentaire :</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Titre">
              </fieldset>
              <fieldset class="form-group">
                <label for="exampleTextarea">Votre commentaire :</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </fieldset>
          </div>

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

          <!-- Insertion diagramme 5 -->
          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-body repartition">
                <h2>Répartition des langages sur {{toplangage[0]['city']}}</h2>
                <div style="width: 100%; height: 100%;">
                    <canvas id="myChart" style="width: 100%; height: auto;"></canvas>
                </div>
                <div id="js-legend" class="chart-legend"></div>
            </div>
          </div>

          <!-- Insertion diagramme 6 -->
          <div class="box box-solid bg-green-gradient top">
            <div class="box-body ">
                <h2>Top 5 : Évenements avec le plus de participants</h2>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Nom de l'évènement</th>
                        <th>Nombre de participants</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td> 
                          <td>{{ topevent[0]['name'] }}</td>
                          <td>{{ topevent[0]['rsvp'] }}</td>   
                      </tr>
                      <tr>
                        <td>2</td>
                          <td>{{ topevent[1]['name'] }}</td>
                          <td>{{ topevent[1]['rsvp'] }}</td>
                      </tr>
                      <tr>
                        <td>3</td>
                          <td>{{ topevent[2]['name'] }}</td>
                          <td>{{ topevent[2]['rsvp'] }}</td>   
                      </tr>
                      <tr>
                        <td>4</td>
                          <td>{{ topevent[3]['name'] }}</td>
                          <td>{{ topevent[3]['rsvp'] }}</td>      
                      </tr>
                      <tr>
                        <td>5</td>
                          <td>{{ topevent[4]['name'] }}</td>
                          <td>{{ topevent[4]['rsvp'] }}</td> 
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>

          <!-- Insertion diagramme 7 -->
          <div class="box box-solid bg-red-gradient top">
            <div class="box-body">
              <h2>Meetup qui perd le plus d'abonnés</h2>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Nom de l'évènement</th>
                      <th>Nombre de participants</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr>
                      <td>1</td>
                      {% if flopevent[0]['name'] is null %}
                          <td>{{ flopevent[0]['name'] == 'vide' }}</td>
                          <td>{{ flopevent[0]['rsvp'] == 0 }}</td> 
                        {% else %} 
                          <td>{{ flopevent[0]['name'] }}</td>
                          <td>{{ flopevent[0]['rsvp'] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                      <td>2</td>
                      {% if flopevent[1]['name'] is null %}
                          <td>{{ flopevent[1]['name'] == 'vide' }}</td>
                          <td>{{ flopevent[1]['rsvp'] == 0 }}</td> 
                        {% else %} 
                          <td>{{ flopevent[1]['name'] }}</td>
                          <td>{{ flopevent[1]['rsvp'] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                      <td>3</td>
                      {% if flopevent[2]['name'] is null %}
                          <td>{{ flopevent[2]['name'] == 'vide' }}</td>
                          <td>{{ flopevent[2]['rsvp'] == 0 }}</td> 
                        {% else %} 
                          <td>{{ flopevent[2]['name'] }}</td>
                          <td>{{ flopevent[2]['rsvp'] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                      <td>4</td>
                      {% if flopevent[3]['name'] is null %}
                          <td>{{ flopevent[3]['name'] == 'vide' }}</td>
                          <td>{{ flopevent[3]['rsvp'] == 0 }}</td> 
                        {% else %} 
                          <td>{{ flopevent[3]['name'] }}</td>
                          <td>{{ flopevent[3]['rsvp'] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                      <td>5</td>
                      {% if flopevent[4]['name'] is null %}
                          <td>{{ flopevent[4]['name'] == 'vide' }}</td>
                          <td>{{ flopevent[4]['rsvp'] == 0 }}</td> 
                        {% else %} 
                          <td>{{ flopevent[4]['name'] }}</td>
                          <td>{{ flopevent[4]['rsvp'] }}</td>
                        {% endif %}
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </section>
      </div>

    </section>
    <!-- /.content -->
  </div>
  </div>
  {% endblock section %}
  {% endblock body %}

  {% block javascript_end %}
    <!-- Script Cédric pour l'évolution des meetups -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/JavaScript">
    $(function () {
      $('#container').highcharts({
          title: {
              text: 'Evolution du nombre d\'évenements créés sur la plateforme Meetup par langage',
              x: -20 //center
          },
          subtitle: {
              text: 'Source: Meetup',
              x: -20
          },
          xAxis: {
              categories: ['{{datte[6]}}', '{{datte[5]}}', '{{datte[4]}}', '{{datte[3]}}', '{{datte[2]}}', '{{datte[1]}}', '{{datte[0]}}']
          },
          yAxis: {
              title: {
                  text: 'Membres'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              valueSuffix: ' évènements créés'
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: '{{ evoPhpVille[0]['topic'] }}',
              data: [ {{ evoPhpVille[6]['create']}}, {{ evoPhpVille[5]['create'] }}, {{ evoPhpVille[4]['create']}}, {{ evoPhpVille[3]['create']}}, {{ evoPhpVille[2]['create']}}, {{ evoPhpVille[1]['create']}}, {{ evoPhpVille[0]['create']}}]
          },
          {
              name: '{{ evoJavascriptVille[0]['topic'] }}',
              data: [ {{ evoJavascriptVille[6]['create']}}, {{ evoJavascriptVille[5]['create'] }}, {{ evoJavascriptVille[4]['create']}}, {{ evoJavascriptVille[3]['create']}}, {{ evoJavascriptVille[2]['create']}}, {{ evoJavascriptVille[1]['create']}}, {{ evoJavascriptVille[0]['create']}}]
          },
          {
              name: '{{ evoRubyVille[0]['topic'] }}',
              data: [ {{ evoRubyVille[6]['create']}}, {{ evoRubyVille[5]['create'] }}, {{ evoRubyVille[4]['create']}}, {{ evoRubyVille[3]['create']}}, {{ evoRubyVille[2]['create']}}, {{ evoRubyVille[1]['create']}}, {{ evoRubyVille[0]['create']}}]
          },
          {
              name: '{{ evoIosVille[0]['topic'] }}',
              data: [ {{ evoIosVille[6]['create']}}, {{ evoIosVille[5]['create'] }}, {{ evoIosVille[4]['create']}}, {{ evoIosVille[3]['create']}}, {{ evoIosVille[2]['create']}}, {{ evoIosVille[1]['create']}}, {{ evoIosVille[0]['create']}}]
          }]
      });
    });
    </script>



    <script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
    <script>
    var data = [
   {
    value: {{ toplangage[0]['membresTotal'] }},
    color: "#f0db4f",
    label: "{{ toplangage[0]['topic'] }}"
}, {
    value: {{ toplangage[1]['membresTotal'] }},
    color: "#8694d1",
    label: "{{ toplangage[1]['topic'] }}"
}, {
    value: {{ toplangage[2]['membresTotal'] }},
    color: "#ec1622",
    label: "{{ toplangage[2]['topic'] }}"
}, {
    value: {{ toplangage[3]['membresTotal'] }},
    color: "#97c024",
    label: "{{ toplangage[3]['topic'] }}"
}];

var options = {
    segmentShowStroke: true,
    animateRotate: true,
    animateScale: true,
    percentageInnerCutout: 50,
    tooltipTemplate: "<%= value %> Membres"
}

var ctx = document.getElementById("myChart").getContext("2d");

var myChart = new Chart(ctx).Doughnut(data, options);

// Note - tooltipTemplate is for the string that shows in the tooltip

// legendTemplate is if you want to generate an HTML legend for the chart and use somewhere else on the page

// e.g:

document.getElementById('js-legend').innerHTML = myChart.generateLegend();


console.log(55);
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.js"></script>
{% if countParis %}
<script type="text/javascript">
var word_list = [
{% for countPari in countParis %}
   {text: "{{ countPari.name }}", weight: {{ countPari.compte }}},
{% endfor %}

   // ...other words
];
$(document).ready(function() {
   $("#wordcloud").jQCloud(word_list);
});


</script>
{% endif %}

  {% endblock javascript_end %}
