{% extends 'base.html.twig' %}

{% block body %}
  {% block section %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Tableau de bord
        <small>Ville de Paris</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('user_accueil') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    <!-- Liste déroulante : choix de semaine -->
      <div class="col-md-6">
        <form>
          <select>
            <option>Semaine 25 - 2016
            <option>Semaine 24 - 2016
            <option>Semaine 23 - 2016
          </select>
        </form>
      </div>
      <div class="but-extr">
        <button type="button" class="btn btn-success">Nouvelle extraction</button>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua group">
            <div class="inner">
              <h3>{{ toplangage }} ({{ langagePourcent }}%) <sup style="font-size: 20px"></sup></h3>

              <p>Langage le mieux représenté</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green group">
            <div class="inner">
              <h3>{{ topGroup }}</h3>

              <p>Groupe avec la croissance Max </p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red group">
            <div class="inner">
              <h3>{{ flopGroup }}</h3>

              <p>Groupe avec la croissance Min </p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow group">
            <div class="inner">
              <h3>M'IT UP BNP Paribas</h3>

              <p>Groupe le plus dynamique</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>

          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Insertion diagramme Excel 1 -->
          <div class="nav-tabs-custom">
              <h2 class="text-center">Mots clés les plus utilisés</h2>
              <div id="wordcloud" style="width: 580px; height: 380px; position: relative;"></div>
          </div>
          <!-- Insertion diagramme Excel 2 -->
          <div class="row evol">
            <!-- Franck -->
              <h2 class="text-center">Evolution des meetups par langage</h2>
              <div class="col-lg-7">
                <div class="chart">
                  <!-- Sales Chart Canvas -->
                  <canvas id="salesChart" style="height: 180px;"></canvas>
                </div>
                <!-- /.chart-responsive -->
              </div>
            <div>
              <div class="col-md-3 legende1"><img src="{{ asset('img/legende.png') }}"></div>
            </div>
          </div>
          <div class="box box-solid bg-yellow-gradient top">
            <div class="box-body ">
                <h2>Derniers meetup crées</h2>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nom du meetup</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for Group in lastGroup %}
                       <tr>
                        <td>{{ Group.name }}</td>
                        <td>{{ dateGroup }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
          <!-- Insertion diagramme Excel 4 -->
          <div class="box commentaires">
            <h2>Votre interprétation des données</h2>
              <fieldset class="form-group">
                <label for="com_title">Titre du commentaire :</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Titre">
              </fieldset>
              <fieldset class="form-group">
                <label for="exampleTextarea">Votre commentaire :</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </fieldset>
          </div>

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

          <!-- Insertion diagramme 5 -->
          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-body repartition">
                <h2>Répartition des langages sur Paris</h2>
                <div style="width: 100%; height: 100%;">
                    <canvas id="myChart" style="width: 100%; height: auto;"></canvas>
                </div>
                <div id="js-legend" class="chart-legend"></div>
            </div>
          </div>

          <!-- Insertion diagramme 6 -->
          <div class="box box-solid bg-green-gradient top">
            <div class="box-body ">
                <h2>Top 5 : Évenements avec le plus de participants (M/M-1)</h2>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Position</th>
                        <th>Nom de l'évènement</th>
                        <th>Nombre de participants</th>
                        <th>Evolution</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                        <td>1</td>
                        <td>M'IT UP BNP Paribas</td>
                        <td>189</td>
                        <td>+ 17%</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Xamarin - Learn & Code in Paris</td>
                        <td>163</td>
                        <td>+ 8%</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Les Off de Partech</td>
                        <td>156</td>
                        <td>+ 8%</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>LaFrenchMobile</td>
                        <td>93</td>
                        <td>+ 4%</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Meteor Paris</td>
                        <td>75</td>
                        <td>+ 2%</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>

          <!-- Insertion diagramme 7 -->
          <div class="box box-solid bg-red-gradient top">
            <div class="box-body">
              <h2>Meetup qui perd le plus d'abonnés (M/M-1)</h2>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Position</th>
                      <th>Nom de l'évènement</th>
                      <th>Nombre de participants</th>
                      <th>Evolution</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr>
                      <td>1</td>
                      <td>StartupBlink Paris</td>
                      <td>-39</td>
                      <td>-12%</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>ClubStartups - Paris</td>
                      <td>-31</td>
                      <td>-10%</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Paris Ruby Workshop</td>
                      <td>-23</td>
                      <td>-8%</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Power Hiking Paris</td>
                      <td>-19</td>
                      <td>-8%</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>ReactJS and React Native Paris</td>
                      <td>-13</td>
                      <td>-6%</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </section>
      </div>

    </section>
    <!-- /.content -->
  </div>
  </div>
  {% endblock section %}
  {% endblock body %}

  {% block javascript_end %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
    <script>
    var data = [
   {
    value: {{ membresParisRepart[1]['membresTotal'] }},
    color: "#f0db4f",
    label: "Javascript"
}, {
    value: {{ membresParisRepart[0]['membresTotal'] }},
    color: "#8694d1",
    label: "Php"
}, {
    value: {{ membresParisRepart[2]['membresTotal'] }},
    color: "#ec1622",
    label: "Ruby"
}, {
    value: {{ membresParisRepart[3]['membresTotal'] }},
    color: "#97c024",
    label: "Ios"
}];

var options = {
    segmentShowStroke: true,
    animateRotate: true,
    animateScale: true,
    percentageInnerCutout: 50,
    tooltipTemplate: "<%= value %> Membres"
}

var ctx = document.getElementById("myChart").getContext("2d");

var myChart = new Chart(ctx).Doughnut(data, options);

// Note - tooltipTemplate is for the string that shows in the tooltip

// legendTemplate is if you want to generate an HTML legend for the chart and use somewhere else on the page

// e.g:

document.getElementById('js-legend').innerHTML = myChart.generateLegend();


console.log(55);
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.js"></script>

<script type="text/javascript">
var word_list = [
   {text: "{{ countParis[0].name }}", weight: {{ countParis[0].compte }}},
   {text: "{{ countParis[1].name }}", weight: {{ countParis[1].compte }}},
   {text: "{{ countParis[2].name }}", weight: {{ countParis[2].compte }}},
   {text: "{{ countParis[3].name }}", weight: {{ countParis[3].compte }}},
   {text: "{{ countParis[4].name }}", weight: {{ countParis[4].compte }}},
   {text: "{{ countParis[5].name }}", weight: {{ countParis[5].compte }}},
   {text: "{{ countParis[6].name }}", weight: {{ countParis[6].compte }}},
   {text: "{{ countParis[7].name }}", weight: {{ countParis[7].compte }}},
   {text: "{{ countParis[8].name }}", weight: {{ countParis[8].compte }}},
   {text: "{{ countParis[9].name }}", weight: {{ countParis[9].compte }}},
   {text: "{{ countParis[10].name }}", weight: {{ countParis[10].compte }}},
   {text: "{{ countParis[11].name }}", weight: {{ countParis[11].compte }}},
   {text: "{{ countParis[12].name }}", weight: {{ countParis[12].compte }}},
   {text: "{{ countParis[13].name }}", weight: {{ countParis[13].compte }}},
   {text: "{{ countParis[14].name }}", weight: {{ countParis[14].compte }}},
   {text: "{{ countParis[15].name }}", weight: {{ countParis[15].compte }}},
   {text: "{{ countParis[16].name }}", weight: {{ countParis[16].compte }}},
   {text: "{{ countParis[17].name }}", weight: {{ countParis[17].compte }}},
   {text: "{{ countParis[18].name }}", weight: {{ countParis[18].compte }}},
   {text: "{{ countParis[19].name }}", weight: {{ countParis[19].compte }}},
   {text: "{{ countParis[20].name }}", weight: {{ countParis[20].compte }}},
   {text: "{{ countParis[21].name }}", weight: {{ countParis[21].compte }}},
   {text: "{{ countParis[22].name }}", weight: {{ countParis[22].compte }}},
   {text: "{{ countParis[23].name }}", weight: {{ countParis[23].compte }}},
   {text: "{{ countParis[24].name }}", weight: {{ countParis[24].compte }}},
   {text: "{{ countParis[25].name }}", weight: {{ countParis[25].compte }}},
   {text: "{{ countParis[26].name }}", weight: {{ countParis[26].compte }}},
   {text: "{{ countParis[27].name }}", weight: {{ countParis[27].compte }}},
   {text: "{{ countParis[28].name }}", weight: {{ countParis[28].compte }}},
   {text: "{{ countParis[29].name }}", weight: {{ countParis[29].compte }}},
   {text: "{{ countParis[30].name }}", weight: {{ countParis[30].compte }}},
   {text: "{{ countParis[31].name }}", weight: {{ countParis[31].compte }}},
   {text: "{{ countParis[32].name }}", weight: {{ countParis[32].compte }}},
   {text: "{{ countParis[33].name }}", weight: {{ countParis[33].compte }}},
   {text: "{{ countParis[34].name }}", weight: {{ countParis[34].compte }}},
   {text: "{{ countParis[35].name }}", weight: {{ countParis[35].compte }}},
   {text: "{{ countParis[36].name }}", weight: {{ countParis[36].compte }}},
   {text: "{{ countParis[37].name }}", weight: {{ countParis[37].compte }}},
   {text: "{{ countParis[38].name }}", weight: {{ countParis[38].compte }}},
   {text: "{{ countParis[39].name }}", weight: {{ countParis[39].compte }}},
   {text: "{{ countParis[40].name }}", weight: {{ countParis[40].compte }}},
   {text: "{{ countParis[41].name }}", weight: {{ countParis[41].compte }}},
   {text: "{{ countParis[42].name }}", weight: {{ countParis[42].compte }}},
   {text: "{{ countParis[43].name }}", weight: {{ countParis[43].compte }}},
   {text: "{{ countParis[44].name }}", weight: {{ countParis[44].compte }}},
   {text: "{{ countParis[45].name }}", weight: {{ countParis[45].compte }}},
   {text: "{{ countParis[46].name }}", weight: {{ countParis[46].compte }}},
   {text: "{{ countParis[47].name }}", weight: {{ countParis[47].compte }}},
   {text: "{{ countParis[48].name }}", weight: {{ countParis[48].compte }}},
   {text: "{{ countParis[49].name }}", weight: {{ countParis[49].compte }}},
   
   // ...other words
];
$(document).ready(function() {
   $("#wordcloud").jQCloud(word_list);
});


</script>


  {% endblock javascript_end %}





